

<section id="whyd">
  <h1 id="title">What Have You Done?</h1>
  <p id ="first">Discover the <strong>voting records</strong>
  of your <strong>local representatives</strong></p>
  <p id ="second">Then pester their offices until their view reflect yours!</p>
  <div id ="zip-container">
    <div id="zip-label">Enter Your Zip Code</div>
    <form id ="zipform" action="/legislators" method = "get" >
      <input id="zip" type="text" name="zipcode" pattern="\d{5,5}(-\d{4,4})?">
      <input type="submit">
    </form>
  </div>
</section>
