
<section id="whyd">
  <h1 id="title">What Have You Done?</h1>
  <p id ="first">Discover the <strong>voting records</strong>
  of your <strong>local representatives</strong></p>
  <p id ="second">Then pester their offices until their view reflect yours!</p>
</section>

    <form id ="zipform" action="/legislators" method = "get" >
      <label for="zip" id="zip-label">Enter Your Zip Code</label>
      <input id="zip" type="text" name="zip" pattern="\d{5,5}(-\d{4,4})?">
      <input type="submit">
    </form>
