<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/SCSS/style.css' type='text/css'>
  </head>
  <body>
    <div class="container">

      <header class="banner">
       <a href="/">
         <h1>What Have You Done?</h1>
       </a>
     </header>

    {{{body}}}

  </div>
  </body>
</html>
